# BASKET PLAYERS HUNTING

#### Syarat:
- Usia (Age) <= 25 tahun,
- Tinggi badan (Height) >= 180 cm,
- Berat badan (Weight) <= 90 kg,
- Rata-rata point (Average points scored) >= 6, dan
- Rata-rata rebound (Average rebounds grabbed) >= 3.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('all_seasons.csv')
data.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Chris Robinson,VAN,23.0,195.58,90.71840,Western Kentucky,USA,1996,2,...,4.6,1.7,1.6,-11.4,0.039,0.088,0.155,0.486,0.156,1996-97
1,1,Matt Fish,MIA,27.0,210.82,106.59412,North Carolina-Wilmington,USA,1992,2,...,0.3,0.8,0.0,-15.1,0.143,0.267,0.265,0.333,0.000,1996-97
2,2,Matt Bullard,HOU,30.0,208.28,106.59412,Iowa,USA,Undrafted,Undrafted,...,4.5,1.6,0.9,0.9,0.016,0.115,0.151,0.535,0.099,1996-97
3,3,Marty Conlon,BOS,29.0,210.82,111.13004,Providence,USA,Undrafted,Undrafted,...,7.8,4.4,1.4,-9.0,0.083,0.152,0.167,0.542,0.101,1996-97
4,4,Martin Muursepp,DAL,22.0,205.74,106.59412,None,USA,1996,1,...,3.7,1.6,0.5,-14.5,0.109,0.118,0.233,0.482,0.114,1996-97

In [3]:
data.columns

Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'age',
       'player_height', 'player_weight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [4]:
df0 = data[['age', 'player_height', 'player_weight', 'pts', 'reb']]

### MEMBUAT TARGET (sesuai syarat)

In [5]:
def targeted (x):
    if x['age']<= 25 and x['player_height']>= 180 and x['player_weight']<=90 and x['pts']>=6 and x['reb']>=3 :
        return 1
    else: 
        return 0
    
df0['target']=df0.apply(targeted, axis=1)

<ipython-input-5-650f4dffa8af>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['target']=df0.apply(targeted, axis=1)

In [6]:
df0[df0['target']==1].head()

      age  player_height  player_weight   pts  reb  target
105  23.0         195.58      81.192968  16.4  3.9       1
290  22.0         182.88      74.842680  23.5  4.1       1
432  25.0         198.12      86.182480  17.2  4.1       1
659  24.0         195.58      81.192968  17.2  4.7       1
835  23.0         182.88      74.842680  22.0  3.7       1

#### MEMERIKSA NULL

In [7]:
df0.isnull().sum()

age              0
player_height    0
player_weight    0
pts              0
reb              0
target           0
dtype: int64

## Standardisasi

In [40]:
from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler()

scaler.fit(df0[['age', 'player_height', 'player_weight', 'pts', 'reb']])
df= pd.DataFrame(scaler.transform(df0[['age', 'player_height', 'player_weight', 'pts', 'reb']]), columns = ['age', 'height', 'weight', 'pts', 'reb'])
df['target'] = df0['target']

df.head()

        age    height    weight       pts       reb  target
0 -0.996742 -0.578993 -0.802604 -0.589390 -0.747850       0
1 -0.077272  1.063130  0.439607 -1.319614 -1.108712       0
2  0.612331  0.789443  0.439607 -0.606372 -0.787946       0
3  0.382463  1.063130  0.794524 -0.045967  0.334735       0
4 -1.226609  0.515755  0.439607 -0.742228 -0.787946       0

## Splitting Data

In [41]:
from sklearn.model_selection import train_test_split 
xtr, xts, ytr, yts = train_test_split(df[['age', 'height', 'weight', 'pts', 'reb']],
                                     df['target'], test_size = .18 
                                     )

xts

           age    height    weight       pts       reb
7776 -0.996742 -0.031619 -0.092769 -0.232769 -0.146414
4581 -0.766874 -1.400054 -0.980063 -1.370560 -1.028520
1928  1.301934 -1.126367 -0.980063 -0.572408 -0.386988
1538 -1.226609 -0.031619 -0.270228  0.361600  1.176746
8389  0.382463 -0.305306  0.084689  0.684257 -0.186510
...        ...       ...       ...       ...       ...
6383  1.531801 -0.305306 -0.092769  1.006914  0.094161
3836  1.531801 -0.031619 -0.270228 -0.555426 -0.948329
2584  1.072066  0.789443  0.617065 -0.266733  0.575310
7612  0.152596  0.515755  0.084689 -0.012003  0.695597
8659  1.991536  0.515755  0.617065  0.106870  0.495118

[1721 rows x 5 columns]

In [42]:
dftest = pd.DataFrame(xts)
dftest['target'] = yts
dftest.head(5)

           age    height    weight       pts       reb  target
7776 -0.996742 -0.031619 -0.092769 -0.232769 -0.146414       0
4581 -0.766874 -1.400054 -0.980063 -1.370560 -1.028520       0
1928  1.301934 -1.126367 -0.980063 -0.572408 -0.386988       0
1538 -1.226609 -0.031619 -0.270228  0.361600  1.176746       0
8389  0.382463 -0.305306  0.084689  0.684257 -0.186510       0

## Hyper-Parameter Tuning

In [43]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV

#### 1. Hyper Parameter Tuning Logistic Regression Model

In [44]:
from sklearn.linear_model import LogisticRegression

In [45]:
modellog = LogisticRegression()

In [46]:
penalty = ['l1', 'l2', 'elasticnet', 'none']
solver = ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']
max_iter= [1, 10, 100, 1000, 10000]
multi_class=['auto', 'ovr', 'multinomial']

paramlog = {
    'penalty': penalty,
    'solver':solver,
    'max_iter':max_iter,
    'multi_class':multi_class
}

In [47]:
modelrs1 = RandomizedSearchCV(
    estimator = modellog, param_distributions = paramlog, cv = 5)
modelrs1.fit(xtr, ytr)
modelrs1.best_params_

c:\users\user1\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\utils\optimize.py:211: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  warnings.warn("newton-cg failed to converge. Increase the "
c:\users\user1\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\utils\optimize.py:211: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  warnings.warn("newton-cg failed to converge. Increase the "
c:\users\user1\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\utils\optimize.py:211: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  warnings.warn("newton-cg failed to converge. Increase the "
c:\users\user1\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\utils\optimize.py:211: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  warnings.warn("newton-cg failed to converge. Increase the "
c:\users\user1\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\utils\optimize.py:211: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  warnings.warn("newton-cg failed to converge. Increase the "
c:\users\user1\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\model_selection\_validation.py:532: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: penalty='none' is not supported for the liblinear solver

  warnings.warn("Estimator fit failed. The score on this train-test"
c:\users\user1\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\model_selection\_validation.py:532: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver sag supports only 'l2' or 'none' penalties, got l1 penalty.

  warnings.warn("Estimator fit failed. The score on this train-test"
c:\users\user1\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\model_selection\_validation.py:532: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  warnings.warn("Estimator fit failed. The score on this train-test"

{'solver': 'liblinear', 'penalty': 'l2', 'multi_class': 'ovr', 'max_iter': 100}

#### 2. Hyper Parameter Tuning Random Forest Model

In [48]:
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [49]:
modelrf= RandomForestClassifier()

paramrf = {'n_estimators': [100, 200, 250, 300, 400, 500],
    'max_features': ['sqrt', 'log2']}

modelcvrf = RandomForestClassifier()
modelcvrf= RandomizedSearchCV(
    estimator = modelrf, param_distributions = paramrf, cv = 5)

modelcvrf.fit(xtr, ytr)
modelcvrf.best_params_

{'n_estimators': 100, 'max_features': 'log2'}

#### 3. Hyper Parameter Tuning K-Nearest Neighbors

In [50]:
from sklearn.neighbors import KNeighborsClassifier
k = round((len(xtr))**0.5)+1

paramk = {'n_neighbors' : range(k-round(k/2) , k*2), 
         'weights' : ['uniform', 'distance']}

In [52]:
modelk = KNeighborsClassifier()
modelcvk= RandomizedSearchCV(
    estimator = modelk, param_distributions = paramk, cv = 5)
modelcvk.fit(xtr, ytr)
modelcvk.best_params_

{'weights': 'distance', 'n_neighbors': 61}

## MODELLING

#### 1. Logistic Regression

In [54]:
modelLog = LogisticRegression(solver='liblinear', penalty= 'l2', multi_class= 'ovr', max_iter= 100)
modelLog.fit(xtr, ytr)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='ovr', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [56]:
dftest['yLog'] = modelLog.predict(dftest[['age', 'height', 'weight', 'pts', 'reb']])
dftest.head()

           age    height    weight       pts       reb  target  yLog
7776 -0.996742 -0.031619 -0.092769 -0.232769 -0.146414       0     0
4581 -0.766874 -1.400054 -0.980063 -1.370560 -1.028520       0     0
1928  1.301934 -1.126367 -0.980063 -0.572408 -0.386988       0     0
1538 -1.226609 -0.031619 -0.270228  0.361600  1.176746       0     0
8389  0.382463 -0.305306  0.084689  0.684257 -0.186510       0     0

#### 2. Random Forest

In [57]:
modelRand = RandomForestClassifier(n_estimators= 100, max_features= 'log2')
modelRand.fit(xtr, ytr)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='log2',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [58]:
dftest['yRand'] = modelRand.predict(dftest[['age', 'height', 'weight', 'pts', 'reb']])
dftest.head()

           age    height    weight       pts       reb  target  yLog  yRand
7776 -0.996742 -0.031619 -0.092769 -0.232769 -0.146414       0     0      0
4581 -0.766874 -1.400054 -0.980063 -1.370560 -1.028520       0     0      0
1928  1.301934 -1.126367 -0.980063 -0.572408 -0.386988       0     0      0
1538 -1.226609 -0.031619 -0.270228  0.361600  1.176746       0     0      0
8389  0.382463 -0.305306  0.084689  0.684257 -0.186510       0     0      0

#### 3. KNN

In [59]:
modelKNN = KNeighborsClassifier(weights= 'distance', n_neighbors= 61)
modelKNN.fit(xtr, ytr)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=61, p=2,
                     weights='distance')

In [60]:
dftest['yKNN'] = modelKNN.predict(dftest[['age', 'height', 'weight', 'pts', 'reb']])
dftest.head()

,age,height,weight,pts,reb,target,yLog,yRand,yKNN
7776,-0.996742,-0.031619,-0.092769,-0.232769,-0.146414,0,0,0,0
4581,-0.766874,-1.400054,-0.980063,-1.370560,-1.028520,0,0,0,0
1928,1.301934,-1.126367,-0.980063,-0.572408,-0.386988,0,0,0,0
1538,-1.226609,-0.031619,-0.270228,0.361600,1.176746,0,0,0,0
8389,0.382463,-0.305306,0.084689,0.684257,-0.186510,0,0,0,0

# Evaluation Metrics

1. balanced accuracy
2. precision 
3. recall 
4. F1 score 
5. ROC AUC score.

### Confusion Matrix

In [61]:
dfem = pd.DataFrame()
from sklearn.metrics import confusion_matrix

1. Logistic Regression

In [62]:
tnl, fpl, fnl, tpl = confusion_matrix(dftest['target'], dftest['yLog']).ravel()
                                                     
tnl, fpl, fnl, tpl

(1693, 4, 15, 9)

2. Random Forest

In [63]:
tnr, fpr, fnr, tpr = confusion_matrix(dftest['target'], dftest['yRand']).ravel()
                                                     
tnr, fpr, fnr, tpr

(1697, 0, 0, 24)

3. KNN

In [64]:
tnk, fpk, fnk, tpk = confusion_matrix(dftest['target'], dftest['yKNN']).ravel()
                                                     
tnk, fpk, fnk, tpk

(1695, 2, 10, 14)

#### Balanced Accuracy

In [65]:
from sklearn.metrics import balanced_accuracy_score 
dfem['bacc'] = [balanced_accuracy_score (dftest['target'], dftest['yLog']), balanced_accuracy_score (dftest['target'], dftest['yRand']),
               balanced_accuracy_score (dftest['target'], dftest['yKNN'])]

#### Precision

In [66]:
from sklearn.metrics import precision_score 

dfem['Precision'] = [precision_score(dftest['target'], dftest['yLog']), precision_score(dftest['target'], dftest['yRand']),
                    precision_score(dftest['target'], dftest['yKNN'])]

#### Recall

In [67]:
from sklearn.metrics import recall_score 
dfem['Recall'] = [recall_score(dftest['target'], dftest['yLog']), recall_score(dftest['target'], dftest['yRand']),
                    recall_score(dftest['target'], dftest['yKNN'])]

#### F1 Score

In [68]:
dfem['F1'] = [
    2 *(((tpl/(tpl+fpl))*(tpl/(tpl+fnl)))/((tpl/(tpl+fpl))+(tpl/(tpl+fnl)))),
    2 *(((tpr/(tpr+fpr))*(tpr/(tpr+fnr)))/((tpr/(tpr+fpr))+(tpr/(tpr+fnr)))),
    2 *(((tpk/(tpk+fpk))*(tpk/(tpk+fnk)))/((tpk/(tpk+fpk))+(tpk/(tpk+fnk))))
]

### ROC AUC Score

In [69]:
from sklearn.metrics import  roc_auc_score

dfem['roc_auc'] = [roc_auc_score(dftest['target'], dftest['yLog']),
                   roc_auc_score(dftest['target'], dftest['yRand']),
                   roc_auc_score(dftest['target'], dftest['yKNN'])]

## COMPARISON

In [70]:
dfem.index=['LogisticRegression', 'RandomForest', 'KNN']
dfem

                        bacc  Precision    Recall        F1   roc_auc
LogisticRegression  0.686321   0.692308  0.375000  0.486486  0.686321
RandomForest        1.000000   1.000000  1.000000  1.000000  1.000000
KNN                 0.791077   0.875000  0.583333  0.700000  0.791077

#### KESIMPULAN:
Berdasarkan perbandingan Evaluation Metrics 3 model di atas, maka dipilih model <b>Random Forest</b>

## HUNTING INDONESIAN PLAYERS

In [71]:
dfindo = pd.read_excel('IndoPlayer.xlsx')
dfindo.head()

,Name,Club,Country,Age,Height,Weight,Avg Points,Avg Rebounds
0,Andakara Prastawa Dyaksa,Pelita Jaya Bakrie,Indonesia,24,190,90,7,6
1,Reggie Mononimbar,Pelita Jaya Bakrie,Indonesia,21,185,86,6,3
2,Hardianus Lakudu,Satria Muda Pertamina Jakarta,Indonesia,23,178,83,10,3
3,Kevin Yonas Sitorus,Satria Muda Pertamina Jakarta,Indonesia,26,185,75,11,4
4,Arki Dikania Wisnu,Satria Muda Pertamina Jakarta,Indonesia,20,183,80,5,2

In [72]:
dfi= pd.DataFrame(scaler.transform(dfindo[['Age', 'Height', 'Weight', 'Avg Points', 'Avg Rebounds']]), columns = ['age', 'height', 'weight', 'pts', 'reb'])
dfi['Name'] = dfindo['Name']

dfi.head()

        age    height    weight       pts       reb                      Name
0 -0.766874 -1.180242 -0.858816 -0.181823  0.976267  Andakara Prastawa Dyaksa
1 -1.456477 -1.718996 -1.171800 -0.351643 -0.226605         Reggie Mononimbar
2 -0.996742 -2.473252 -1.406538  0.327636 -0.226605          Hardianus Lakudu
3 -0.307139 -1.718996 -2.032505  0.497455  0.174352       Kevin Yonas Sitorus
4 -1.686344 -1.934498 -1.641275 -0.521462 -0.627563        Arki Dikania Wisnu

In [75]:
dfi['diterima'] = modelRand.predict(dfi[['age', 'height', 'weight', 'pts', 'reb']])
dfi['diterima'] = dfi['diterima'].apply(lambda x: 'direkrut' if x==1 else 'tidak direkrut')
dfi

,age,height,weight,pts,reb,Name,diterima
0,-0.766874,-1.180242,-0.858816,-0.181823,0.976267,Andakara Prastawa Dyaksa,direkrut
1,-1.456477,-1.718996,-1.171800,-0.351643,-0.226605,Reggie Mononimbar,tidak direkrut
2,-0.996742,-2.473252,-1.406538,0.327636,-0.226605,Hardianus Lakudu,tidak direkrut
3,-0.307139,-1.718996,-2.032505,0.497455,0.174352,Kevin Yonas Sitorus,tidak direkrut
4,-1.686344,-1.934498,-1.641275,-0.521462,-0.627563,Arki Dikania Wisnu,tidak direkrut
5,-1.456477,-1.072491,-1.250046,-0.691282,2.580097,Laurentius Steven Oei,tidak direkrut
6,-0.537007,-1.395744,-0.858816,-0.181823,0.575310,Mei Joni,direkrut
7,-0.996742,-2.365501,-1.093554,-1.200741,-0.627563,Vincent Rivaldi Kosasih,tidak direkrut
8,-1.456477,-2.581003,-1.641275,0.157816,1.778182,Hardian Wicaksono,tidak direkrut
9,-0.766874,-2.042249,-1.250046,-0.351643,0.575310,Brandon Jawato,tidak direkrut

In [77]:
dfindo['diterima'] = dfi['diterima']
dfindo

,Name,Club,Country,Age,Height,Weight,Avg Points,Avg Rebounds,diterima
0,Andakara Prastawa Dyaksa,Pelita Jaya Bakrie,Indonesia,24,190,90,7,6,direkrut
1,Reggie Mononimbar,Pelita Jaya Bakrie,Indonesia,21,185,86,6,3,tidak direkrut
2,Hardianus Lakudu,Satria Muda Pertamina Jakarta,Indonesia,23,178,83,10,3,tidak direkrut
3,Kevin Yonas Sitorus,Satria Muda Pertamina Jakarta,Indonesia,26,185,75,11,4,tidak direkrut
4,Arki Dikania Wisnu,Satria Muda Pertamina Jakarta,Indonesia,20,183,80,5,2,tidak direkrut
5,Laurentius Steven Oei,Satria Muda Pertamina Jakarta,Indonesia,21,191,85,4,10,tidak direkrut
6,Mei Joni,Stapac,Indonesia,25,188,90,7,5,direkrut
7,Vincent Rivaldi Kosasih,Stapac,Indonesia,23,179,87,1,2,tidak direkrut
8,Hardian Wicaksono,Pacific Caesar Surabaya,Indonesia,21,177,80,9,8,tidak direkrut
9,Brandon Jawato,Louvre Surabaya,Indonesia,24,182,85,6,5,tidak direkrut